.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

button {
  padding: 10px 10px;
  outline: none;
  border: none;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}
.div_ul{
    margin-top: 10px;
}
ul{
    list-style-type: none;
    font-size: 1.6rem;
}

input {
  padding: 15px;
  min-width: 40rem;
}

.editBtn{
color: blue;
margin: 5px;
}

.deleteBtn{
color: red;
}

.removeAll{
  margin: 0 10px;
}